* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(19, 19, 19);
  max-width: 1440px;
  margin: 10% auto;
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}
.identity {
  width: 320px;
  height: 280px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(25, 23, 23);
  padding: 0.6rem;
  margin: 0px auto;
}
.identity img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 6.25rem;
  margin: 1.5rem auto;
}
.identity h2 {
  font-size: 1.25rem;
  color: #ffffff;
  padding: 0.625rem;
}
.identity h3 {
  font-size: 1rem;
  color: #85e08d;
  padding: 0.625;
}
.identity p {
  font-size: 1rem;
  color: #909790;
  padding: 0.625;
}
.social-link {
  width: 250px;
  height: 35px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(36, 33, 33);
  margin: 10px;
}
.social-link a {
  color: #909790;
  text-decoration: none;
}
.link {
  width: 320px;
  height: 280px;
  background-color: rgb(25, 23, 23);
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
}
@media screen and (max-width: 400px) {
  body {
    max-width: 98%;
    margin: 50% auto;
    text-align: center;
    height: auto;
  }
  .identity {
    padding: 2%;
  }
  .link {
    margin-top: 2%;
    padding: 3% 2%;
  }
}
@media (max-width: 980px) {
  body {
    max-width: 98%;
    margin: 50% auto;
    text-align: center;
    height: auto;
  }
}
